{% extends 'grades/base.html' %}

{% block body %}

<h1>Indisponibilidades de Professores</h1>
<table class="table">
    {% if messages %}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    <thead>
    <tr>
        <th>Código</th>
        <th>Turno</th>
        <th>Dia da Semana</th>
        <th>Professor</th>
        <th colspan="1" style="text-align:center">Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for d in disponibilidades %}
    <tr>
        <td>{{ d.id_indisponibilidade }}</td>
        <td>{{ d.turno }}</td>
        <td>{{ d.dias_semana }}</td>
        <td>{{ d.professor|capfirst }}</td>
        <td><a href="{% url 'editar_indisponibilidade' d.id_indisponibilidade %}" class="btn btn-info btn-xs">Editar</a></td>
        <td><a href="{% url 'deleta_indisponibilidade' d.id_indisponibilidade %}" class="btn btn-danger btn-xs">Excluir</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{% url 'nova_disponibilidade' %}" class="btn btn-primary" role="button">Adicionar Disponibilidade</a>
{% endblock body %}