{% extends 'grades/base.html' %}

{% block body %}
    <h1>Cursos</h1>
    <table class="table">
        {% if messages %}
        <div class="alert alert-info" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <thead>
            <tr>
                <th>Código</th>
                <th>Curso</th>
                <th>Sigla do Curso</th>
                <th colspan="1" style="text-align:cen">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cursos %}
                <tr>
                    <td>{{ c.id_curso }}</td>
                    <td>{{ c.nm_curso }}</td>
                    <td>{{ c.sigla_curso }}</td>
                    <td><a href="{% url 'editar_curso' c.id_curso %}" class="btn btn-info btn-xs">Editar</a></td>
                    <td><a href="{% url 'deleta_curso' c.id_curso %}" class="btn btn-danger btn-xs">Excluir</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'novo_curso' %}" class="btn btn-primary" role="button">Adicionar curso</a>
{% endblock body %}